<h1>hello world from index!</h1>
<a href='/demo/hello'> hello page1</a><br>
<%= link_to('hello page2',{:action=>'hello'}) %><br>
<%= link_to('hello with parameters',{:action=>'hello',:page=>5,:id=>10})%>
